<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='house.png') }}">
    <style>

        body {
    
          
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        .topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color:cyan;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: greenyellow;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
    </style>
    <title>Credits and attributions  </title>
</head>
<body>
    


    <div class="topnav">
        <h1><a href="/dev"> Translator  </a></h1>
        <h1><a href="/dev/feedback"> Feedback  </a></h1> 
        <h1><a href="/dev/logs"> Logs  </a></h1>
        <h1><a href="/dev/about"> About  </a></h1>
        <h1><a href="/dev/pp"> Privacy policy</a></h1>
        <h1><a href="/dev/texttobinary"> Text to binary  </a></h1>
        <h1><a href="/dev/binarytotext"> Binary to text  </a></h1>
    </div>
    
   
    <br>
    <br>
    <br>
    <h5>Credits and attributions:</h5>
    <h3>Creator: Suhaan Thayyil</h3>
    <h5><a href="https://www.flaticon.com/free-icons/coding" title="coding icons">Coding icons created by Freepik - Flaticon</a></h5>
    <h5><a href="https://www.flaticon.com/free-icons/about" title="about icons">About icons created by Smashicons - Flaticon</a></h5>
    <h5><a href="https://www.flaticon.com/free-icons/feedback" title="feedback icons">Feedback icons created by Flat Icons - Flaticon</a></h5>
    <h5><a href="https://www.flaticon.com/free-icons/result" title="result icons">Result icons created by Freepik - Flaticon</a></h5>
    <h5><a href="https://www.flaticon.com/free-icons/bot" title="bot icons">Bot icons created by Freepik - Flaticon</a></h5>
    <h5><a href="https://www.flaticon.com/free-icons/languages" title="languages icons">Languages icons created by Freepik - Flaticon</a></h5>
    <h5><a href="https://www.flaticon.com/free-icons/version-control" title="version control icons">Version control icons created by Smashicons - Flaticon</a></h5>
    <h5><a href="https://www.flaticon.com/free-icons/house" title="house icons">House icons created by Freepik - Flaticon</a></h5>
</body>
</html>