<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='version-control.png') }}">
  <style>

    body {

      
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    .topnav {
overflow: hidden;
background-color: #333;
}

.topnav a {
float: left;
color:cyan;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: greenyellow;
color: black;
}

.topnav a.active {
background-color: #04AA6D;
color: white;
}
</style>
    
    <title>Logs</title>
</head>
<body>

   <div class="topnav">
        <h1><a href="/dev"> Translator  </a></h1>
        <h1><a href="/dev/feedback"> Feedback  </a></h1>
        <h1><a href="/dev/ca"> Credits and attributions  </a></h1>
        <h1><a href="/dev/about"> About  </a></h1>
        <h1><a href="/dev/pp"> Privacy policy</a></h1>
        <h1><a href="/dev/texttobinary"> Text to binary  </a></h1>
        <h1><a href="/dev/binarytotext"> Binary to text  </a></h1>
   </div>
   <div class="upcoming_updates">
   <h1>3.0.0, read text from image 2/10/2022</h1>

   </div>
   <div class="logs">
        <h1><li>logs of all time is pm:1/26/2022 3:00 alpha 1, 4:00 alpha 2, 4:20 alpha 3, 4:25 beta 0.0.1 out to the public, 8:00 beta 0.5.0,1/27/2021 2:00 beta 0.7.5 Moved to Google translator, 4:00 out of beta version 1.0.0, 6:00 version 1.0.2, 7:30 version 1.0.3, 1/28/2022 1:00  version 1.1.0, 3:00 version 1.2.0   </li></h1> 
   </div>
    <div class="made_updates">
      <h1>2.6.2 another cleaner screen update</h1>
      <h1>2.6.1 cleaner screen update</h1>
      <h1>2.6.0 less storage update</h1>
      <h1>2.5.1 link fix</h1>
      <h1>2.5.0, binary to text  </h1>
      <h1>2.1.0 simple screen update</h1>
     <h1>2.0.0 text to binary  </h1>
      <h1>1.6.2 bug fix on text</h1>
      <h1>1.6.1 bug fix on privacy policy link and text</h1>
        <h1>New language icon in tabs version 1.6.0</h1>
        <h1>1.5.2 translator result sever went down is now fixed</h1>
        <h1>what is new in 1.5.1, bug fix on links, privacy policy, robots.txt</h1>
        <h1>what is new in 1.5.0, a privacy policy and robots.txt,type /robots.txt after dev to access it</h1>
        <h1>What is new in 1.3.5, background image</h1>
        <h1>What is new in version 1.3.0, home and about  </h1>
        <h1>What is new in version 1.2.0, feedback form name email inputs,logs  </h1>
        <h1>What is new in version 1.1.0, source language dropdown</h1>
        <h1>What is new in version 1.0.0, pronunciation added</h1>
   </div>
</body>
</html>