<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='pp.png') }}">
  <style>

    body {

      
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    .topnav {
overflow: hidden;
background-color: #333;
}

.topnav a {
float: left;
color:cyan;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: greenyellow;
color: black;
}

.topnav a.active {
background-color: #04AA6D;
color: white;
}
</style>
</style>
    <title>Document</title>
</head>
<body>
  
        <div class="topnav">
            <h1><a href="/dev/logs"> Logs  </a></h1>
             <h1><a href="/dev"> Translator  </a></h1>
             <h1><a href="/dev/feedback"> Feedback  </a></h1>
             <h1><a href="/dev/ca"> Credits and attributions  </a></h1>
             
             <h1><a href="/dev/about"> About  </a></h1>
             <h1><a href="/dev/texttobinary"> Text to binary  </a></h1>
             <h1><a href="/dev/binarytotext"> Binary to text  </a></h1>
           
        </div>
    <h1>This is the privacy policy  </h1>
    <h4>This website does NOT save any of your data or inputs in the web sites expect the feedback form, we can NOT process any info you put expect the feedback form.</h4>
    <h4>We stored the feedback form so we can repely to you about the feedback</h4>
</body>
</html>